DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=recommendation_db
DB_SSLMODE=disable
SERVER_PORT=8080
RABBITMQ_DSN=amqp://guest:guest@rabbitmq:5672/
RABBITMQ_QUEUE=hello_world
